name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DEFAULT_RPC: ${{ secrets.DEFAULT_RPC }}
      ALT_RPC_LIST: ${{ secrets.ALT_RPC_LIST }}
      GORBAGANA_WALLET_PRIVATE_KEY: ${{ secrets.GORBAGANA_WALLET_PRIVATE_KEY }}
      MAIN_WALLET_ADDRESS: ${{ secrets.MAIN_WALLET_ADDRESS }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      DEBUG: false

    steps:
      - uses: actions/checkout@v4.1.1
        with:
          repository: ${{ secrets.BOT_REPO_URL }}
          token: ${{ secrets.GH_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile

      - run: yarn tokens:discover:from-config

      - run: yarn pools || true

      - run: cat temp/tokens.json | jq

      - run: yarn trade

      - run: |
          cat temp/trades.json | jq
          yarn prepare:wallet
          swaps=$(cat temp/trades.json | jq -r '.swaps')
          if [[ -z "$swaps" || "$swaps" == "0" ]]; then
            exit 1
          fi
        if: always()

  restart:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Restart
        run: gh workflow run test.yml
        if: always()
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
